{% assign fs_threshold = settings.cart_free_shipping_threshold | times: 100 %}
{% assign total_price = cart.total_price %}
{% assign fs_remaining = fs_threshold | minus: total_price %}
{% assign fs_remaining_percent = 0.00 | plus:total_price | divided_by:fs_threshold | times:100 %}

{% assign fs_achived = false %}
{% if total_price >= fs_threshold %}
  {% assign fs_achived = true %}
{% endif %}

<div class="fs-indicator" data-fs-threshold="{{ fs_threshold }}">
  <div class="fs-indicator__remaining {% if fs_achived %} is-hidden {% endif %}">
    {% unless settings.indicator_type == 'text_only' %}
      <div class="fs-indicator__indicator">
        <span class="fs-indicator__bar bar" style="width:{{ fs_remaining_percent }}%"></span>
      </div>
    {% endunless %}
    
    {% capture fs_remaining_html %}
      <span data-bind="remaining-amount">{{ fs_remaining | money }}</span>
    {% endcapture %}
    
    <div class="indicator__msg">
      {{ settings.freeshipping_remaining_msg | replace: '[[rem_amt]]', fs_remaining_html }}
    </div>
  </div>
  <div class="fs-indicator__success {% unless fs_achived %} is-hidden {% endunless %}">
    {% unless settings.indicator_type == 'text_only' %}
      <div class="fs-indicator__indicator">
        <span class="fs-indicator__bar bar" style="width:100%"></span>
      </div>
    {% endunless %}
    <div class="indicator__msg">
      {{ settings.freeshipping_success_msg }}
    </div>
  </div>
</div>