{% comment %}
  Main view that shows details used by visitors to manage their addresses used in the checkout.

  - https://help.shopify.com/en/themes/development/templates/customers-addresses
{% endcomment %}

{%- liquid
  assign id = section.id
  assign show_heading = section.settings.show_heading
  assign heading_preset = section.settings.heading_preset
  assign heading_alignment = section.settings.heading_alignment
-%}
{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign padding_top_m = section.settings.padding_top_m
  assign padding_bottom_m = section.settings.padding_bottom_m
  assign padding_left_m = section.settings.padding_left_m
  assign padding_right_m = section.settings.padding_right_m
  assign margin_top_m = section.settings.margin_top_m
  assign margin_bottom_m = section.settings.margin_bottom_m
-%}
{% comment %}Layout{% endcomment %}
{%- liquid
  assign width = section.settings.width
  assign section_bg = section.settings.section_bg
  assign animation = section.settings.animation | default: 'none'
-%}
{% comment %}Advanced{% endcomment %}
{%- liquid
  assign css_class = section.settings.css_class
  assign custom_css = section.settings.custom_css
-%}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css %}{% endcapture %}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left:{{ padding_left }}px;
    padding-right:{{ padding_right }}px;
    background: {{ section_bg }};
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} {
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section
  class="section section__wrapper is-width-{{ width }} {{ css_class }}"
  {% if animation != 'none' %}
    data-scroll-class="{{ animation }}"
  {% endif %}
>
  {%- if show_heading != blank -%}
    <header class="container">
      {%- capture heading -%}{{ 'customer.addresses.title' | t }}{%- endcapture -%}
      {% render 'heading',
        title: heading,
        heading_tag: 'h1',
        context: 'addresses',
        text_alignment: heading_alignment,
        preset: heading_preset
      %}
    </header>
  {% endif %}

  <div class="container">
    <aside class="one-fourth column account-sidebar">
      <a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a>
      <div class="account-sidebar__content has-padding-top">
        <div class="has-padding-bottom" id="action">
          <a
            href="#"
            class="button action_button button--secondary"
            onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"
          >
            {{- 'customer.addresses.add_new' | t -}}
          </a>
        </div>
      </div>
    </aside>
    <main class="three-fourths column account-main">
      <div id="add_address" style="display:none;">
        {% form 'customer_address', customer.new_address %}
          <h2 class="title" id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="field">
            <label
              class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}"
              for="address_first_name_new"
            >
              {{- 'customer.addresses.first_name' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_first_name_new"
                class="input"
                name="address[first_name]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.first_name' | t }}{% endif %}"
                value="{{form.first_name}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label
              class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}"
              for="address_last_name_new"
            >
              {{- 'customer.addresses.last_name' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_last_name_new"
                class="input"
                name="address[last_name]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.last_name' | t }}{% endif %}"
                value="{{form.last_name}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_company_new">
              {{- 'customer.addresses.company' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_company_new"
                class="input"
                name="address[company]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.company' | t }}{% endif %}"
                value="{{form.company}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_address1_new">
              {{- 'customer.addresses.address1' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_address1_new"
                class="input"
                name="address[address1]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.address1' | t }}{% endif %}"
                value="{{form.address1}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_address2_new">
              {{- 'customer.addresses.address2' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_address2_new"
                class="input"
                name="address[address2]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.address2' | t }}{% endif %}"
                value="{{form.address2}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_city_new">
              {{- 'customer.addresses.city' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_city_new"
                class="input"
                name="address[city]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.city' | t }}{% endif %}"
                value="{{form.city}}"
                autocapitalize="words"
              >
            </div>
          </div>

          <div class="field">
            <label class="label" for="country-selector-new">{{ 'customer.addresses.country' | t }}</label>
            <div class="control">
              <div class="select">
                <select
                  id="country-selector-new"
                  name="address[country]"
                  data-default="{{ form.country }}"
                >
                  {{ country_option_tags }}
                </select>
              </div>
            </div>
          </div>

          <div id="province-wrapper-new" class="field" style="display:none">
            <label for="province-selector-new">{{ 'customer.addresses.province' | t }}</label>
            <div class="control">
              <div class="select">
                <select
                  id="province-selector-new"
                  name="address[province]"
                  data-default="{{ form.province }}"
                ></select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_zip_new">
              {{- 'customer.addresses.zip' | t -}}
            </label>
            <div class="control">
              <input
                type="text"
                id="address_zip_new"
                class="input"
                name="address[zip]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.zip' | t }}{% endif %}"
                value="{{ form.zip }}"
                autocapitalize="characters"
              >
            </div>
          </div>

          <div class="field">
            <label class="label {% if settings.show_labels == blank %}is-sr-only{% endif %}" for="address_phone_new">
              {{- 'customer.addresses.phone' | t -}}
            </label>
            <div class="control">
              <input
                type="tel"
                id="address_phone_new"
                class="input"
                name="address[phone]"
                placeholder="{% if settings.show_labels == blank %}{{ 'customer.addresses.phone' | t }}{% endif %}"
                value="{{form.phone}}"
              >
            </div>
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
          </p>

          <p class="action_bottom is-flex is-align-center has-padding-bottom has-padding-top">
            <input
              class="button action_button button--secondary"
              type="submit"
              value="{{ 'customer.addresses.add' | t }}"
            >
            <span>
              {{ 'customer.addresses.or' | t }}
              <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
                {{- 'customer.addresses.cancel' | t -}}
              </a></span
            >
          </p>
        {% endform %}
      </div>

      <div id="address_tables" class="container">
        {% paginate customer.addresses by 10 %}
          {% if customer.addresses.size > 0 %}
            {% render 'address-loop' %}

            <br class="clear">
          {% else %}
            <p>{{ 'customer.addresses.no_addresses' | t }}</p>
          {% endif %}

          <div id="address_pagination">{{ paginate | default_pagination }}</div>
        {% endpaginate %}
      </div>
      <!-- end #address_tables -->
    </main>
  </div>
</section>
{% comment %}JavaScript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ id }}"
  data-section-data
>
  {}
</script>
<script data-theme-editor-load-script src="{{ 'z__jsAddress.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Addresses",
  "class": "addresses-section jsAddress",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Page title",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "Heading Preset",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-h1"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}
{% endschema %}
