{% comment %}
  ** Header 4 Search focused - static **
{% endcomment %}

{%- liquid
  assign id = section.id

  assign logo = section.settings.logo
  assign logo_width = section.settings.logo_width

  assign search_background = section.settings.search_background
  assign search_icon = section.settings.search_icon

  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign background_color = section.settings.background_color

  assign icon_style = section.settings.icon_style

  assign main_linklist = section.settings.main_linklist
  assign main_linklist_preset = section.settings.main_linklist_preset
  assign menu_alignment = section.settings.menu_alignment
  assign dropdown_click = section.settings.dropdown_click

  assign enable_sticky = section.settings.enable_sticky
  assign sticky_background_color = section.settings.sticky_background_color
  assign sticky_logo_width = section.settings.sticky_logo_width
-%}

{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign padding_top_m = section.settings.padding_top_m
  assign padding_bottom_m = section.settings.padding_bottom_m
  assign padding_left_m = section.settings.padding_left_m
  assign padding_right_m = section.settings.padding_right_m
  assign margin_top_m = section.settings.margin_top_m
  assign margin_bottom_m = section.settings.margin_bottom_m
-%}

{% comment %} Advanced {% endcomment %}
{%- liquid
  assign width = section.settings.width
  assign css_class = section.settings.css_class
  assign custom_css = section.settings.custom_css
-%}


{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
.header__logo {
  width: {{ logo_width }}px;
}
.header{
  background: {{ background_color  }};
}
.header__link &&
.select select {
  color: {{ link_color }};
  fill: {{ link_color }};
}
.header__link:hover &&
.header__link.is-active &&
.select select:hover {
  color: {{ link_hover_color }};
  fill: {{ link_hover_color }};
}
.is-sticky .header__logo &&
.is-sticky #mobile-header .mobile-header__logo {
  width: {{ sticky_logo_width }}px;
}

.header__search-button {
  color: {{ search_icon }};
  background-color: {{ search_background }};
  border-color: {{ search_background }};
}

.header__search-button:hover {
  background-color: {{ search_background | color_darken: 05 }}
}

{%- if enable_sticky -%}
  .header-sticky-wrapper.is-sticky .header {
    background: {{ sticky_background_color }};
  }

  .mobile-menu--opened #mobile-header-sticky-wrapper.is-sticky .mobile-header {
    background: {{ background_color }};
  }
{%- endif -%}
{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  #shopify-section-{{ id }} .header{
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left:{{ padding_left }}px;
    padding-right:{{ padding_right }}px;
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
  }
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} .mobile-header .mobile-header__content{
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<div class="is-relative {{ css_class }}" data-enable_sticky="{{ enable_sticky }}">
  <header id="header" class="header header--search-focus dropdown-style-{{ settings.dropdown_style }}">
    <section class="section is-width-{{ width }}">
      <div class="header__inner-content">
        <div class="header__link header__menu-toggle is-medium">
          <div class="header__open-menu">
            {% render 'icon', name: 'menu' %}
          </div>
          <div class="header__close-menu">
            {% render 'icon', name: 'x' %}
          </div>
        </div>

        {% comment %} Logo {% endcomment %}
        <div class="header__brand">
          {% if logo != blank %}
            {% if template.name == 'index' %}
              <h1 class="visuallyhidden">{{ shop.name }}</h1>
            {% endif %}
            <a class="header__logo header__link primary-logo" href="{{ routes.root_url }}" title="{{ shop.name }}">
              {%
                render 'image-element',
                image: logo,
                alt: logo.alt,
                additional_classes: 'primary-logo'
              %}
            </a>
          {% else %}
            {% if template.name == 'index' %}
              <h1 class="header__logo-text">
                <a href="{{ routes.root_url }}" class="header__link primary-brand">
                  {{ shop.name }}
                </a>
              </h1>
            {% else %}
              <a href="{{ routes.root_url }}" class="header__logo-text header__link primary-brand">
                {{ shop.name }}
              </a>
            {% endif %}
          {% endif %}
        </div>

        {% comment %} Search bar {% endcomment %}
        <div class="header__search" data-autocomplete-{{ settings.enable_autocomplete }}>
          {% render 'search-bar' %}
        </div>

        {% render 'header__action-icons', icon_style: icon_style %}
      </div>

      {% comment %} Menu {% endcomment %}
      <nav class="sticky-menu-wrapper is-align-center" role="navigation" aria-label="main navigation">
        <div class="header__menu">
          <div class="
              header__menu-items
              header__dropdown--{{ settings.dropdown_position }}
              dropdown-click--{{ dropdown_click }}
              is-flex
              is-flex-wrap
              is-align-center
              {{ main_linklist_preset }}
              is-justify-{{ menu_alignment }}
            ">
            {% assign main_menu = linklists[main_linklist] %}
            {% for link in main_menu.links %}
              {% if link.links == blank %}
                <div
                  class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"
                  data-navlink-handle="{{ link.title | handleize }}"
                >
                  <label for="mega-{{ link.title | handleize }}">
                    <a
                      {% unless link.url == 'http://' or link.url == '' or link.url == 'https://' or link.url == '#' %}
                        href="{{ link.url }}"
                      {% endunless %}
                      class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless"
                    >
                      {{ link.title }}
                    </a>
                  </label>
                </div>
              {% else %}
                <div
                  class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-navlink-handle="{{ link.title | handleize }}"
                >
                  <label for="dropdown-{{ link.title | handleize }}">
                    <a
                      class="navbar-link header__link {% if link.active or link.child_active %}is-active{% endif %}"
                      {% unless link.url == 'http://' or link.url == '' or link.url == 'https://' or link.url == '#' %}
                        href="{{ link.url }}"
                      {% endunless %}
                    >
                      {{ link.title }}
                    </a>
                  </label>

                  {%
                    render 'header__dropdown-menu',
                    link: link,
                    index: forloop.index
                  %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </nav>
    </section>
  </header>

  {% render 'mobile-header' %}

  {% if settings.search_display_style == 'overlay' %}
    {% render 'search-overlay' %}
  {% endif %}
</div>

{% comment %}JavaScript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_sticky": {{ enable_sticky | json }},
    "header_layout": {{ settings.header_layout | json }},
    "dropdown_click": {{ dropdown_click | json }}
  }
</script>
<script src="{{ 'z__jsHeader.js' | asset_url }}" defer></script>

{% comment %}Schema{% endcomment %}
{% schema %}
{
  "name": "Header",
  "class": "header--search-focus jsHeader header-section",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "600 x 200px recommended"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Width",
      "step": 5,
      "min": 80,
      "max": 300,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Links",
      "default": "rgba(0,0,0,1)"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Links hover",
      "default": "rgba(0,0,0,1)"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Search Button"
    },
    {
      "type": "color",
      "id": "search_background",
      "label": "Background",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "search_icon",
      "label": "Icon",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "select",
      "id": "icon_style",
      "label": "Style",
      "options": [
        {
          "value": "icons",
          "label": "Icons only"
        },
        {
          "value": "text",
          "label": "Text only"
        },
        {
          "value": "icons_text",
          "label": "Icons and text"
        }
      ],
      "default": "icons"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "main_linklist_preset",
      "label": "Navigation Preset",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-text"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "checkbox",
      "id": "dropdown_click",
      "label": "Open dropdowns on click instead of hover",
      "default": false
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky on scroll"
    },
    {
      "type": "color_background",
      "id": "sticky_background_color",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "sticky_logo_width",
      "label": "Logo width",
      "step": 5,
      "min": 30,
      "max": 300,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}
{% endschema %}
