{% comment %}
  ** Featured product **
{% endcomment %}

{%- liquid
  assign id = section.id
  assign product = section.settings.product

  assign product_images_position = section.settings.product_images_position
  assign set_product_height = section.settings.set_product_height
  assign product_height = section.settings.product_height
  assign video_looping = section.settings.video_looping

  assign gallery_arrows = section.settings.gallery_arrows
  assign enable_zoom = section.settings.enable_zoom
  assign enable_product_lightbox = section.settings.enable_product_lightbox
  assign slideshow_speed = section.settings.slideshow_speed
  assign slideshow_transition = section.settings.slideshow_transition
  assign display_thumbnails = section.settings.display_thumbnails
  assign thumbnail_position = section.settings.thumbnail_position
  assign enable_thumbnail_slider = section.settings.enable_thumbnail_slider

  assign product_tags = product.tags | join: ' '
  assign collection_handles = product.collections | map: 'handle'
-%}
{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign padding_top_m = section.settings.padding_top_m
  assign padding_bottom_m = section.settings.padding_bottom_m
  assign padding_left_m = section.settings.padding_left_m
  assign padding_right_m = section.settings.padding_right_m
  assign margin_top_m = section.settings.margin_top_m
  assign margin_bottom_m = section.settings.margin_bottom_m
-%}
{% comment %}Layout{% endcomment %}
{%- liquid
  assign width = section.settings.width
  assign section_bg = section.settings.section_bg
  assign animation = section.settings.animation | default: 'none'
-%}
{% comment %}Advanced{% endcomment %}
{%- liquid
  assign css_class = section.settings.css_class
  assign custom_css = section.settings.custom_css
-%}

{% liquid
  assign selected_variant = product.selected_variant

  if product.variants.size == 1 or settings.select_first_available_variant
    assign selected_variant = product.selected_or_first_available_variant
  endif
%}

{% if product.empty? %}
  {%- assign section_onboarding = true -%}
{% else %}
  {%- assign section_onboarding = false -%}
{% endif %}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    background: {{ section_bg }};
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
    {% if width == 'wide' -%}
      width: 100%;
    {%- endif %}
  }
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} {
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }

  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section
  class="
    section
    {{ css_class }}
    is-width-{{ width }}
  "
  {% if animation != "none" %}
    data-scroll-class="{{ animation }}"
  {% endif %}
>
  <div class="product-{{ product.id }}">
    {%
      render 'product',
      product: product,
      sold_out_options: settings.sold_out_options,
      selected_variant: selected_variant,
      width: width,
      css_class: css_class,
      display_thumbnails: display_thumbnails,
      enable_product_lightbox: enable_product_lightbox,
      enable_shopify_product_badges: enable_shopify_product_badges,
      enable_thumbnail_slider: enable_thumbnail_slider,
      enable_zoom: enable_zoom,
      gallery_arrows: gallery_arrows,
      product_height: product_height,
      product_images_position: product_images_position,
      set_product_height: set_product_height,
      slideshow_transition: slideshow_transition,
      stickers_enabled: settings.stickers_enabled,
      tag_style: settings.tag_style,
      thumbnail_position: thumbnail_position,
      video_looping: video_looping,
      section_onboarding: section_onboarding
    %}
  </div>
</section>

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
  <script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{%- for block in section.blocks -%}
  {%- if block.type == 'price' -%}
    {%- assign display_savings = block.settings.display_savings | json -%}
  {%- endif -%}
{%- endfor -%}

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ id }}"
  data-section-data
>
  {
    "display_savings": {{ display_savings }},
    "gallery_arrows": {{ gallery_arrows | json }},
    "thumbnail_arrows": {{ gallery_arrows | json }},
    "enable_zoom": {{ enable_zoom | json }},
    "enable_product_lightbox": {{ enable_product_lightbox | json }},
    "enable_thumbnail_slider": {{ enable_thumbnail_slider | json }},
    "slideshow_speed": {{ slideshow_speed | json }},
    "slideshow_transition": {{ slideshow_transition | json }},
    "thumbnails_enabled": {{ display_thumbnails | json }},
    "thumbnail_position": {{ thumbnail_position | json }},
    "product_media_amount": {{ product.media.size }},
    "template": "featured-product-section"
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsProduct.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Featured Product",
  "class": "featured-product-section jsProduct",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "info": "Only applies to desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Magnify on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails position",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left of main image"
        },
        {
          "value": "right-thumbnails",
          "label": "Right of main image"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Below main image"
        }
      ],
      "default": "bottom-thumbnails"
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-h2"
        }
      ],
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-h6"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "display_savings",
          "label": "Show price savings",
          "default": true
        },
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-h6"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-h6"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text block</p>"
        },
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-text"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "custom_description",
          "label": "Product description",
          "info": "Used to create a custom product description."
        },
        {
          "type": "select",
          "id": "preset",
          "label": "Preset",
          "options": [
            {
              "value": "is-h1",
              "label": "H1"
            },
            {
              "value": "is-h2",
              "label": "H2"
            },
            {
              "value": "is-h3",
              "label": "H3"
            },
            {
              "value": "is-h4",
              "label": "H4"
            },
            {
              "value": "is-h5",
              "label": "H5"
            },
            {
              "value": "is-h6",
              "label": "H6"
            },
            {
              "value": "is-text",
              "label": "Regular"
            },
            {
              "value": "is-text-small",
              "label": "Small"
            }
          ],
          "default": "is-text"
        }
      ]
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Dynamic Checkout Button"
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "Customize additional form features for the product in Theme settings > Product form."
        }
      ]
    },
    {
      "type": "product-links",
      "name": "Product links",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collections",
          "label": "Show collections",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_types",
          "label": "Show types",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_tags",
          "label": "Show tags",
          "default": true
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    },
    {
      "type": "size-chart",
      "name": "Size chart",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "size_chart",
          "label": "Size chart",
          "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910707-Using-the-Size-Chart-Sections-themes-)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Product",
      "category": "Product",
      "blocks": [
        {
          "type": "title",
          "settings": {}
        },
        {
          "type": "price",
          "settings": {}
        },
        {
          "type": "description",
          "settings": {}
        },
        {
          "type": "form",
          "settings": {}
        },
        {
          "type": "share",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
