{% comment %}
  ** FAQs Section - static **
{% endcomment %}


{%- liquid
  assign id = section.id 
  assign enable_tags = section.settings.enable_tags 
  assign question_preset = section.settings.question_preset 
  assign answer_preset = section.settings.answer_preset 
  assign question_color = section.settings.question_color 
  assign answer_color = section.settings.answer_color 
-%}
{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top 
  assign padding_bottom = section.settings.padding_bottom 
  assign padding_left = section.settings.padding_left 
  assign padding_right = section.settings.padding_right 
  assign margin_top = section.settings.margin_top 
  assign margin_bottom = section.settings.margin_bottom 
  assign padding_top_m = section.settings.padding_top_m 
  assign padding_bottom_m = section.settings.padding_bottom_m 
  assign padding_left_m = section.settings.padding_left_m 
  assign padding_right_m = section.settings.padding_right_m 
  assign margin_top_m = section.settings.margin_top_m 
  assign margin_bottom_m = section.settings.margin_bottom_m 
-%}
{% comment %}General{% endcomment %}
{%- liquid
  assign width = section.settings.width 
  assign section_bg = section.settings.section_bg 
  assign animation = section.settings.animation | default: 'none' 
-%}
{% comment %}Advanced{% endcomment %}
{%- liquid
  assign css_class = section.settings.css_class 
  assign custom_css = section.settings.custom_css 
-%}


{% comment %} Section specific CSS {% endcomment %}
{% capture section_css %}
  .faq__item-question{
    color:{{ question_color }};
  }
  .faq__item-symbol{
    background:{{ question_color }};
  }
  .faq__item-answer{
    color:{{ answer_color }};
  }
{% endcapture %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left:{{ padding_left }}px;
    padding-right:{{ padding_right }}px;
    background: {{ section_bg }};
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} {
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }
  {% render 'css-loop',
    css: section_css,
    id: id
  %}
  {% render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {%- for block in section.blocks -%}
      {%- if block.type == 'faq' -%}
        {
          "@type": "Question",
          "name": "{{ block.settings.question | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.answer | strip_html }}"
          }
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  ]
}
</script>
{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ width }}
                "
                {% if animation != "none" %}
                  data-scroll-class="{{ animation }}"
                {% endif %}>
  
  {% if enable_tags == true %}
    <div class="container">
      <div class="faq__tags">
        {% for block in section.blocks %}
          {% if block.type == 'heading' %}
            <a class="faq__tags-tag" data-tag="{{ block.settings.heading | append: block.id | handleize}}" href="#{{ block.settings.heading | handleize | append:block.id }}">
              <h6 class="title">{{ block.settings.heading }}</h6>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  
  
  <div class="container has-limit has-no-side-gutter">
    {% for block in section.blocks %}
      {% if block.type == 'heading' %}
        {% if current_heading %}
          </div>
          </div>
        {% endif %}
        {% assign current_heading = block.settings.heading|append:block.id %}
          <div class="faq__block-main column  text-center one-whole"
            id="{{ current_heading |handleize }}"
            data-heading="{{ current_heading |handleize }}">
            <h3 class="faq__block-title is-h3">
              {{ block.settings.heading }}
              <span class="faq__block-title-symbol"></span>
            </h3>
            <div class="faq__block-main__questions {% unless block.settings.expand_heading %} expand {% endunless %}">
      {% elsif block.type == 'faq' %}
        <div class="faq__block-faq column one-whole"
            data-heading="{{ current_heading |handleize }}">
            <div class="faq__item">
                <h6 class="title faq__item-question {{ question_preset }}">
                  {{ block.settings.question }}
                  <span class="faq__item-symbol"></span>
                </h6>
                <section  class="faq__item-answer {{ answer_preset }}">
                    {{ block.settings.answer |replace:'[BR]','<br/>' }}
                    {% if block.settings.image and block.settings.image != blank %}
                    <div class="is-relative">
                        {% render 'image-element', image: block.settings.image, alt: block.settings.image.alt, back_to_basics: true %}
                    </div>   
                    {% endif %}
                </section>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ id }}"
  data-section-data >
  {
    "enable_tags":{{ enable_tags | json }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsFAQ.js' | asset_url }}"></script>


{% schema %}
{
  "name": "FAQ",
  "class":"jsFAQ faq-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_tags",
      "label": "Enable Question Tags"
    },
    {
      "type": "header",
      "content": "Presets"
    },
    {
      "type": "select",
      "id": "question_preset",
      "label": "Question",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-h4"
    },
    {
      "type": "select",
      "id": "answer_preset",
      "label": "Answer",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-text"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "question_color",
      "label": "Question Color",
      "default": "#006ae7"
    },
    {
      "type": "color",
      "id": "answer_color",
      "label": "Answer Color",
      "default": "#141414"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name": "Faq",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "info":"Use [BR] for line breaks"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image For Answer"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "checkbox",
          "id": "expand_heading",
          "label": "Expand Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    }
  ],
  "presets":[{
      "name":"FAQ Section",
      "category":"FAQ"
  }]
}
{% endschema %}

{% stylesheet %}
.faq__block-main {
  margin-bottom: 10px;
}
.faq__tags {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.faq__tags .faq__tags-tag {
  border: 1px solid;
  padding: 10px;
  margin: 0 8px;
  border-radius: 4px;
}
.faq__block-main .faq__block-title {
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 26px 40px;
  background: #e6e6e6;
  position: relative;
  text-transform: uppercase;
}
.faq__block-main .faq__block-title .faq__block-title-symbol {
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: none;
}
.faq__block-main .faq__block-title .faq__block-title-symbol:before {
  content: "";
  width: 10px;
  height: 2px;
  transition: 0.3s;
  background: black;
}
.faq__block-main .faq__block-title .faq__block-title-symbol:after {
  content: "";
  width: 2px;
  height: 10px;
  transition: 0.3s;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.faq__block-main .faq__block-title .faq__block-title-symbol:before {
  width: 20px;
  height: 4px;
}
.faq__block-main .faq__block-title .faq__block-title-symbol:after {
  height: 20px;
  width: 4px;
}
.faq__block-main.tab--open .faq__block-title .faq__block-title-symbol:before {
  transform: translateY(-50%) rotate(180deg);
}
.faq__block-main.tab--open .faq__block-title .faq__block-title-symbol:after {
  display: none;
}
.faq__block-main__questions:not(.expand) {
  display: none;
}
.faq__block-faq .faq__item {
  position: relative;
  cursor: pointer;
  border: 1px solid #dedede;
  border-bottom: none;
  text-align: left;
}
.faq__block-faq .faq__item .faq__item-answer {
  padding: 18px 40px;
  padding-top: 0;
  display: none;
  text-align: left;
  font-weight: 400;
  display: none;
}
.faq__block-faq .faq__item .faq__item-answer p:not(:last-child) {
  margin-bottom: 20px;
}
.faq__block-faq .faq__item .faq__item-question {
  padding: 18px 40px;
  padding-right: 60px;
  position: relative;
  margin: 0;
}
.faq__block-faq .faq__item .faq__item-question .faq__item-symbol {
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: none;
}
.faq__block-faq .faq__item .faq__item-question .faq__item-symbol:before {
  content: "";
  width: 10px;
  height: 2px;
  transition: 0.3s;
  background: black;
}
.faq__block-faq .faq__item .faq__item-question .faq__item-symbol:after {
  content: "";
  width: 2px;
  height: 10px;
  transition: 0.3s;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.faq__block-faq
  .faq__item.tab--open
  .faq__item-question
  .faq__item-symbol:before {
  transform: translateY(-50%) rotate(180deg);
}
.faq__block-faq
  .faq__item.tab--open
  .faq__item-question
  .faq__item-symbol:after {
  display: none;
}
.faq__block-faq:last-child .faq__item {
  border-bottom: 1px solid #dedede;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
