{% comment %} Product description - split {% endcomment %}

{%- liquid
  assign id = section.id
  assign preset = section.settings.preset
-%}
{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign padding_top_m = section.settings.padding_top_m
  assign padding_bottom_m = section.settings.padding_bottom_m
  assign padding_left_m = section.settings.padding_left_m
  assign padding_right_m = section.settings.padding_right_m
  assign margin_top_m = section.settings.margin_top_m
  assign margin_bottom_m = section.settings.margin_bottom_m
-%}
{% comment %}Layout{% endcomment %}
{%- liquid
  assign width = section.settings.width
  assign section_bg = section.settings.section_bg
  assign animation = section.settings.animation | default: 'none'
-%}
{% comment %}Advanced{% endcomment %}
{%- liquid
  assign css_class = section.settings.css_class
  assign custom_css = section.settings.custom_css
-%}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css %}{% endcapture %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    background: {{ section_bg }};
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
  }
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} {
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }

  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}
{% comment %} HTML markup {% endcomment %}
{% if product.description contains '<!-- split -->' %}
  <section
    class="section is-width-{{ width }} {{ css_class }}"
    {% if animation != 'none' %}
      data-scroll-class="{{ animation }}"
    {% endif %}
  >
    <div class="
        container
        has-limit
        content
      ">
      <div class="one-whole column">
        <div class="description content {{ preset }}">
          {{ product.description | split: '<!-- split -->' | last }}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Description split",
  "class": "product-template product-split-description",
  "templates": [
    "product"
  ],
  "settings": [
    {
      "type": "select",
      "id": "preset",
      "label": "Preset",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-text"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [
    {
      "name": "Description <!-- split -->",
      "category": "Product",
      "settings": {}
    }
  ]
}
{% endschema %}
